{%extends "base.html"%}
{%load staticfiles%}
{%block jumbotron %}
<div class="jumbotron">
	<div class="row">
				
		<div class ="col-sm-10 ">
				
			<h1>Arduino - was ist das?</h1>

			<p><h5>	
			Bei Arduino handelt es sich um eine Plattform, die es jedem Menschen ermöglichen soll, die eigenen technischen Ideen in die Tat umzusetzen.</p>
			<p>
			Umfangreiche IT-Kenntnisse sind dafür in der Regel nicht notwendig.
			Zum einem besteht Arduino aus einer Platine mit Mikrocontroller, also einer Art Mini-PC. Zum anderen besteht Arduino aus einer Software, mit der Sie Programme für den Mini-PC schreiben können.
			Durch seine simple Hardware ist der Arduino recht billig. Je nach Modell erhalten Sie einen Arduino für zwischen 15 und 20 Euro.
			</p></h5>
			<br>
			<p><img  src="{%  static 'img/arduino.jpg' %}"></p>	 

			<p><h5> Es wurde ein bisschen zufällig, ein bisschen für die Herausforderung geboren, Arduino, Italienische erste Open-Source-Hardware und zu den erfolgreichsten Erfindungen des letzten Jahrzehnts.</h5></p>

			<p style=" text-decoration: underline;"}>Was ist Arduino</p>

			<p><h5>Arduino ist eine <strong>Open-Source-elektronische Plattform</strong>, die unter der Creative Commons Attribution - Share Alike 2.5-Lizenz vertrieben wird und auf Hardware- und Softwarekomponenten einfacher zu verwendender Steuerelemente basiert. Die Arduino - Boards sind in der Lage, Signale und Reize aus der Umgebung zu erfassen und zu "interpretieren" - den Druck auf einen Schalter, einen Finger auf einen Knopf oder eine Nachricht auf Twitter - und daraus eine Ausgabe zu machen - die Aktivierung eines Motor, ein LED-Licht einschalten, etwas online veröffentlichen.</h5></p>

			<p><h5>Insbesondere <strong>besteht Arduino aus einer Leiterplatte</strong>, die einen Mikroregler, einen Spannungsregler und eine USB-Schnittstelle integriert, um es mit dem Computer zu verbinden. Die Pins des Mikrocontrollers sind direkt mit den I / O-Ports (Eingang und Ausgang) der Karte verbunden. Die auszuführenden Befehle können jedoch <strong>mit der Programmiersprache Arduino</strong> (basierend auf Wiring, die wiederum von C und C ++ abgeleitet wird) und der Arduino Software-Entwicklungsumgebung (IDE) erstellt werden.
			Arduino Funktionen</h5></p>

			<p><h5>Seit seiner Einführung hat Arduino großen Erfolg in der internationalen Gemeinschaft der Macher. Dank seiner Vielseitigkeit und Benutzerfreundlichkeit hat der italienische Open-Source-Minicomputer die Herzen tausender Benutzer auf der ganzen Welt erobert. Aber die Arduino-Eigenschaften, die seinen Erfolg bestimmt haben, sind auch andere.</h5></p>

			<ul>
				<h5><li><Strong>Günstig.</Strong> Im Vergleich zu vielen anderen Mikrocontroller-Boards liegen die Kosten von Arduino weit unter dem Marktdurchschnitt. Mit einem Preis von knapp über 10 Euro bis unter 100 Euro ermöglichen die Arduino-Boards die Realisierung unterschiedlichster Automatisierungsprojekte, ohne übertriebene Zahlen ausgeben zu müssen
			   </li>
			    
			    <li><strong>Multi-Plattform.</strong> Sowohl die Programmiersprache als auch die Arduino-Entwicklungsumgebung sind mit Windows-, MacOS- und Linux-Plattformen kompatibel. Dies bedeutet, dass Sie Automatisierungsanwendungen für die von Massimo Banzi und seinem Turiner Team erstellte Open-Source-Karte erstellen können
			   </li>
			   <li> <strong>Einfache und sofortige Programmierumgebung.</strong> Arduino Software, eine Programmier- und Entwicklungsumgebung für die gleichnamigen Karten, ist so einfach zu bedienen, dass auch unerfahrene Anwender ihre Software für die Prozessautomatisierung realisieren können. Gleichzeitig ist die Umgebung jedoch so vielseitig, dass erfahrenere Anwender komplexere und vielfältigere Automatisierungsprozesse implementieren können
				</li></h5>
			</ul>
		</div>
	</div>
</div>
		
{%endblock%}